[submodule "spack"]
  path = spack
  url = https://github.com/stiggy87/spack
  branch = feature/hdf5-weekly-build-testing
[submodule "doc/CMakeModules"]
  path = doc/CMakeModules
  url = https://github.com/noaa-emc/cmakemodules
  branch = v1.3.0
